*, html {
    margin:0;
    padding:0;  
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1{
    font-family: 'Lobster', cursive;
}
.header{

    width: 100vw;
    height: 50px;
    background-color: black;
    color: white;
}
.largeContainer, .largeContainer-bottom {
    margin-top: 10px;
    width: 100vw;
    height: 40vh;
    border: 0px solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.largeContainer-bottom{
    margin-top: 100px;
    background-color: rgb(248,248,248);
}
.container{
    width: 30%;
    height: 100%;
    border: 0px solid;
    border-radius: 12px;

    background-color: rgb(248,248,248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contain{
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    font-weight: bold;
}
.laptopSelectorContainer{
    margin-top: auto;
    height: auto;
}
.buttonContainer{
    
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}
#LaptopImg{
    width:50%;
    height:50%;
    object-fit:contain;
}
.LoanValue{
    visibility: hidden;
}
#RepayLoanButton{
    width: 90%;
    visibility: hidden;
}
#GetLoanButton{
    width: 90%;
    
}
#BankButton{
    
}
#WorkButton{
    margin-left: 10%;
}
#BuyNowButton{
     
}